@media screen and (max-width:1020px){
.header .head,.nav_m,.banner,.gd_news,.i_box,.f_bg .foot,.scd{width:800px; margin:0px auto;}
.head .logo img ,.head .logo{ width:515px; height:29px;}
.nav li{ margin:0px;}
.i_box .i_bl{ width:185px;}
.i_bl dl , .i_bl p{ width:165px;}
.i_bl dl dd{ width:125px;}
.i_box .i_br{ width:545px;}
.i_br ul{ width:525px;}
.i_br .ul_a li{ margin-right:97px;}
.i_br .ul_b li img ,.i_br .ul_b li{ width:130px; height:110px;}
.i_br .ul_b li{ margin-right:1px; margin-top:20px;}
.scd .scd_r{ width:520px;}
.alfx li img{ width:157px; height:121px !important;}
.alfx li { width:161px; height:160px;}
.ctt_a .ctt_al{ width:100%; float:none;}
.ctt_a .ctt_ar{ width:100%; float:none; margin-top:20px;}
}
@media screen and (max-width:770px) {
.header .head,.nav_m,.banner,.gd_news,.i_box,.f_bg .foot,.scd{width:480px; margin:0px auto;}
.head .logo img ,.head .logo{ width:480px; height:27px;}
.head .head_r{ width:100%;}
.head .head_r .tel{ margin-right:85px;}
.nav_m .nav{ display:none; width:100%; height:auto;}
.nav_m .n_icon{ display:block;}
.nav_m{ height:auto; overflow:hidden;}
.nav_m .nav li{ width:100%; height:50px; line-height:50px; text-align:left;}
.i_box .i_bl{ width:100%;}
.i_bl dl, .i_bl p{ width:90%;}
.i_bl dl dd{ float:left; margin-left:10px;}
.i_box .i_br{ width:100%; margin-top:20px;}
.i_box .i_br .box_m{ height:auto;}
.i_br ul{ width:460px; margin:0px auto;}
.i_br .ul_a li{ margin-right:55px; margin-left:5px;}
.i_br .ul_b li{ margin:5px;}
.i_br .ul_b li img, .i_br .ul_b li{ width:220px; height:186px;}
.scd .scd_l,.scd .scd_r{ width:100%;}
.scd_l .scd_lm{ width:478px;}
.scd_l .scd_lm ul{ width:460px;}
.alfx li img{ width:149px; height:115px !important;}
.alfx li { width:153px; height:150px; margin-right:7px;}
}
@media screen and (max-width:500px) {
.header .head,.nav_m,.banner,.gd_news,.i_box,.f_bg .foot,.scd{width:310px; margin:0px auto;}
.head .logo img ,.head .logo{ width:310px; height:17px;}
.head .head_r .tel{ margin-right:0px;}
.i_br ul{ width:300px;}
.i_br .ul_a li{ width:290px; background:#EFEFEF; margin-bottom:10px;}
.i_br .ul_a li a{ display:block; width:290px; height:50px;}
.i_br .ul_a li span{ display:inline; width:auto; height:auto; left:75px; top:17px;}
.i_br .ul_b li img, .i_br .ul_b li{ width:140px; height:110px;}
.scd_l .scd_lm{ width:308px;}
.scd_l .scd_lm ul{ width:295px;}
.scd_r .title{ height:auto; line-height:175%; margin-top:20px;}
.scd_r .title .pst{ width:100%; line-height:150%; padding:10px 0; position:static; text-align:left;}
.alfx li img{ width:304px; height:230px !important;}
.alfx li{ width:308px; height:275px;}
.px_l li p{ width:65%;}
}
