<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>TeacherPublishLabel1Servlet</servlet-name>
    <servlet-class>com.servlet.TeacherPublishLabel1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherPublishLabel2Servlet</servlet-name>
    <servlet-class>com.servlet.TeacherPublishLabel2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherStudentManageServlet</servlet-name>
    <servlet-class>com.servlet.TeacherStudentManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherStudentManage2Servlet</servlet-name>
    <servlet-class>com.servlet.TeacherStudentManage2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherStudentManage3Servlet</servlet-name>
    <servlet-class>com.servlet.TeacherStudentManage3Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherInputGradeServlet</servlet-name>
    <servlet-class>com.servlet.TeacherInputGradeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherInputGrade2Servlet</servlet-name>
    <servlet-class>com.servlet.TeacherInputGrade2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherInputGrade3Servlet</servlet-name>
    <servlet-class>com.servlet.TeacherInputGrade3Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherSearchGradeServlet</servlet-name>
    <servlet-class>com.servlet.TeacherSearchGradeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentInfoUpdateServlet</servlet-name>
    <servlet-class>com.servlet.StudentInfoUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherInfoUpdateServlet</servlet-name>
    <servlet-class>com.servlet.TeacherInfoUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentSelectLabelServlet</servlet-name>
    <servlet-class>com.servlet.StudentSelectLabelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentInsertLabelServlet</servlet-name>
    <servlet-class>com.servlet.StudentInsertLabelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>TeacherPublishLabel1Servlet</servlet-name>
    <url-pattern>/TeacherPublishLabel1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherPublishLabel2Servlet</servlet-name>
    <url-pattern>/TeacherPublishLabel2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherStudentManageServlet</servlet-name>
    <url-pattern>/TeacherStudentManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherStudentManage2Servlet</servlet-name>
    <url-pattern>/TeacherStudentManage2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherStudentManage3Servlet</servlet-name>
    <url-pattern>/TeacherStudentManage3Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherInputGradeServlet</servlet-name>
    <url-pattern>/TeacherInputGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherInputGrade2Servlet</servlet-name>
    <url-pattern>/TeacherInputGrade2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherInputGrade3Servlet</servlet-name>
    <url-pattern>/TeacherInputGrade3Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherSearchGradeServlet</servlet-name>
    <url-pattern>/TeacherSearchGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentInfoUpdateServlet</servlet-name>
    <url-pattern>/StudentInfoUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherInfoUpdateServlet</servlet-name>
    <url-pattern>/TeacherInfoUpdateServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>StudentInsertLabelServlet</servlet-name>
    <url-pattern>/StudentInsertLabelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentSelectLabelServlet</servlet-name>
    <url-pattern>/StudentSelectLabelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

</web-app>